.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 25px;
}

.banner-bg {
  background-color: #f5b700;
}

.banner img {
  justify-self: center;
}

.banner-img {
  max-width: 95%;
}

.banner-informacoes {
  display: block;
  align-self: center;
}

.banner-informacoes p {
  font-size: 2.5rem;
  color: #fff;
}

.banner-informacoes h1 {
  font-size: 4.5rem;
  color: #fff;
  margin-bottom: 25px;
}

.span-h1 {
  font-size: 2.5rem;
  font-weight: thin;
}

.span-mark {
  color: #344a5f;
}

.banner-informacoes a {
  background-color: #344a5f;
  border-radius: 50px;
  width: 300px;
  color: rgb(233, 233, 233);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 15px 30px;
}

.banner-informacoes a:hover {
  background-color: #4b6a86;
}

@media (max-width: 1200px) {
  .banner-informacoes {
    padding-left: 15px;
  }
}

@media (max-width: 1050px) {
  .span-h1 {
    font-size: 2.3rem;
  }
  .banner-informacoes h1 {
    font-size: 3rem;
  }
  .banner-informacoes a {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .container {
    width: 100vw;
  }
  .banner {
    padding: 0px;
    padding-left: 50px;
    margin: 0px;
  }

  .banner img {
    justify-self: center;
  }

  .banner-img {
    max-width: 75%;
  }
  .span-h1 {
    font-size: 2rem;
  }
  .banner-informacoes h1 {
    font-size: 2.5rem;
  }
  .banner-informacoes a {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 800px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    margin: 0px;
  }
  .banner-img {
    padding-top: 25px;
    max-width: 35%;
  }
  .banner-informacoes {
    text-align: center;
    place-self: center;
    padding-top: 25px;
  }
}

@media (max-width: 500px) {
  .span-h1 {
    font-size: 1.7rem;
  }
  .banner-informacoes h1 {
    font-size: 2rem;
  }
  .banner-informacoes a {
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 20px;
  }
}
